{{ form_row(form.name) }}
{{ form_row(form.speciality) }}
{{ form_row(form.inProgress) }}
{{ form_row(form.date) }}
{{ form_row(form.obtained) }}
{{ form_row(form.location) }}
<div class="form-group">
  <button type="button" class="btn btn-danger btn-remove">
    <i class="fa-solid fa-trash"></i>
  </button>
</div>