{{ form_row(form.company) }}
{{ form_row(form.job) }}
{{ form_row(form.startDate) }}
{{ form_row(form.inProgress) }}
{{ form_row(form.endDate) }}
<div class="form-group">
  <button type="button" class="btn btn-danger btn-remove">
    <i class="fa-solid fa-trash"></i>
  </button>
</div>