{{ form_widget(form._token) }}
{{ form_errors(form) }}
<div class="form-resume">
    <div class="form-title">
        {{ form_row(form.resumeTitle) }}
    </div>
    <div class="form-user">
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
    </div>
</div>

<hr>
<button type="button" class="btn btn-primary btn-new" data-collection="#diploma">Ajouter un diplome <i class="fa-solid fa-circle-plus"></i></button>
<div id="diploma" class="diploma-group" data-prototype="{{ include("generator/cv/index/_diplomas.html.twig", {form: form.diplomas.vars.prototype})|e("html_attr") }}" data-index="{{ form.diplomas|length > 0 ? form.diplomas|last.vars.name + 1 : 0 }}">
  {% for diploma in form.diplomas %}
        <div class="diploma-item">
            {{ include("generator/cv/index/_diplomas.html.twig", {form: diploma}) }}
        </div>
    {% endfor %}
</div>

<hr>

<button type="button" class="btn btn-primary btn-new" data-collection="#experience">Ajouter une experience <i class="fa-solid fa-circle-plus"></i></button>
<div id="experience" class="experience-group" data-prototype="{{ include("generator/cv/index/_experiences.html.twig", {form: form.experience.vars.prototype})|e("html_attr") }}" data-index="{{ form.experience|length > 0 ? form.experience|last.vars.name + 1 : 0 }}">
  {% for experience in form.experience %}
        <div class="diploma-item">
            {{ include("generator/cv/index/_experiences.html.twig", {form: experience}) }}
        </div>
    {% endfor %}
</div>
