{% extends 'base.html.twig' %}

{% block title %}
  RG -
  {{ title_page }}
{% endblock %}

{% block body %}
  <style>
    form {
      display: flex;
      flex-direction: column;
    }

    form .form-resume {
      display: flex;
      flex-direction: column;
    }
    form .form-resume .form-title {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    form .form-resume .form-title div {
      display: flex;
      flex-direction: row;
      width: 50%;
      margin: 10px;
    }
    form .form-resume .form-user {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    form .form-resume .form-user div {
      display: flex;
      flex-direction: row;
      width: 50%;
      margin: 10px;
    }

    .diploma-group,
    .experience-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .diploma-item {
      margin: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      background-color: ghostwhite;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 90%;
      max-width: 90%;
    }
  </style>

  <div class="edit-cv">
    {{ form_start(form) }}
    {{ include("generator/cv/index/_form.html.twig", {form: form}) }}
    <button class="btn btn-success">Valider mon CV</button>
    {{ form_end(form, {render_rest: false}) }}
    {# {{ form_end(form) }} #}
  </div>

  {% block javascripts %}
    <script>

      document.querySelectorAll('.btn-remove').forEach(btn => btn.addEventListener("click", (e) => e.currentTarget.closest(".diploma-item").remove()));

      document.querySelectorAll('.btn-new').forEach(btn => btn.addEventListener("click", function (e) {
        let collectionHolder = document.querySelector(e.currentTarget.dataset.collection);

        let item = document.createElement("div");
        item.classList.add("diploma-item");
        item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

        item.querySelector(".btn-remove").addEventListener("click", () => item.remove());

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
      }));
    </script>
  {% endblock %}

{% endblock %}
