{% extends 'base.html.twig' %}

{% block title %}
  RG -
  {{ title_page }}
{% endblock %}

{% block body %}
  <style>

    .container {
      display: flex;
      margin: auto;
      padding: 25px;
      width: 100%;
    }

    .resume-list {
      display: flex;
      flex-direction: row;
    }
    .resume {
      display: flex;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      background-color: ghostwhite;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 10px;
      width: fit-content;
      padding: 10px;
    }
  </style>

  <div class="info-session" id="my-alert-box">

    {% for message in app.flashes('created') %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes('updated') %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes('removed') %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}

  </div>
  {# {{dump(resume_list|length)}} #}

  {% if app.user %}
    {% if (resume_list | length) != 0 %}
      <div class="resume-list">
        {% for resume in resume_list %}
          <div class="card" style="width: 18rem;margin:10px;">
            {# <img class="card-img-top" src="..." alt="Card image cap"> #}
            <div class="card-body">
              <h5 class="card-title">{{resume.resumeTitle}}</h5>
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{resume.diplomas|length }}
                {% if (resume.diplomas | length) > 1 %}
                  diplomes
                {% else %}
                  diplome
                {% endif %}
              </li>
              <li class="list-group-item">{{resume.experience|length }}
                {% if (resume.experience | length) > 1 %}
                  experiences
                {% else %}
                  experience
                {% endif %}
              </li>
            </ul>
            <div class="card-body">
              <div class="btn-group mr-2" role="group" aria-label="First group">

                <a href="{{ path('app_generator_cv_see_one', {'publicId' : resume.publicId}) }}" class="btn btn-primary">
                  <i class="fa-solid fa-eye"></i>
                  Voir
                </a>
                <a href="{{ path('app_generator_cv_edit', {'publicId' : resume.publicId}) }}" class="btn btn-secondary">
                  <i class="fa-solid fa-pen-to-square"></i>
                  Editer
                </a>
                {# <a href="{{ path('app_generator_cv_remove', {'publicId' : resume.publicId}) }}" class="btn btn-danger">
                  <i class="fa-solid fa-trash"></i>
                </a> #}
                {# <a href="" class="btn btn-danger" onclick="return confirm('Voulez vous vraiment supprimer ce CV ?')">
                  <i class="fa-solid fa-trash"></i>
                </a> #}

                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-download"></i>
                    Exporter
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{{ path('app_generator_cv_export_pdf', {'publicId' : resume.publicId}) }}">PDF</a>
                    <a class="dropdown-item" href="{{ path('app_generator_cv_export_json', {'publicId' : resume.publicId}) }}">JSON</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Hello !</h1>
          <p class="lead">Bienvenu sur Resume Generator, un générateur de CV, ici vous pouvez créer votre CV simplement et rapidement.</p>
          <hr class="my-4">
          <p>Vous n'avez pas encore de CV, n'hesitez pas à en créer un.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('app_generator_cv_new')}}" role="button">Créer mon CV</a>
          </p>
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Hello !</h1>
        <p class="lead">Bienvenu sur Resume Generator, un générateur de CV, ici vous pouvez créer votre CV simplement et rapidement.</p>
        <hr class="my-4">
        <p>Vous n'êtes visiblement pas connecté, vous ne pouvez donc pas profiter des fonctionnalités de Resume Generator.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{ path('app_login')}}" role="button">Commencer tout de suite !</a>
        </p>
      </div>
    </div>
  {% endif %}

  {% block javascripts %}

    <script>
      var coucou = setTimeout(hiddeAlert, 5000)

      function hiddeAlert() {
        document.getElementById("my-alert-box").style.display = "none"
      }
    </script>
  {% endblock %}

{% endblock %}
