{% extends 'base.html.twig' %}

{% block title %}
  RG -
  {{ title_page }}
{% endblock %}

{% block body %}
  <style>

    .cv-info h1,
    .cv-info h2,
    .cv-info h3,
    .cv-info h4,
    .cv-info h5 {
      color: ghostwhite;
    }

    .diplomas .diploma-details h1,
    .diplomas .diploma-details h2,
    .diplomas .diploma-details h3,
    .diplomas .diploma-details h4,
    .diplomas .diploma-details h5,
    .experiences .experiences-details h1,
    .experiences .experiences-details h2,
    .experiences .experiences-details h3,
    .experiences .experiences-details h4,
    .experiences .experiences-details h5 {
      color: black;
    }

    .cv-details h1,
    .cv-details h2,
    .cv-details h3,
    .cv-details h4,
    .cv-details h5,
    .cv-info {
      color: ghostwhite;
    }
    .diplomas,
    .experiences {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .diploma-details,
    .experiences-details {
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      background-color: ghostwhite;
      margin: 5px;
      /*padding: 5px;*/
    }

    li {
      list-style-type: none;
    }

    .actions-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .actions-button a,
    .actions-button div {
      margin: 2px;
    }
  </style>

  <div class="actions-button">
    <a href="{{ path('app_generator_cv_edit', {'publicId' : resume.publicId}) }}" class="btn btn-secondary">
      <i class="fa-solid fa-pen-to-square"></i>
      Editer</a>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-download"></i>
        Exporter
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="{{ path('app_generator_cv_export_pdf', {'publicId' : resume.publicId}) }}">PDF</a>
        <a class="dropdown-item" href="{{ path('app_generator_cv_export_json', {'publicId' : resume.publicId}) }}">JSON</a>
      </div>
    </div>
    <a href="{{ path('app_generator_cv_remove', {'publicId' : resume.publicId}) }}" class="btn btn-danger" onclick="return confirm('Voulez vous vraiment supprimer ce CV ?')">
      <i class="fa-solid fa-trash"></i>
      Supprimer</a>
  </div>

  <div class="">

    <div class="cv-info">

      <div class="title">
        <h1>{{resume.resumeTitle}}</h1>
      </div>

      <div class="name">
        <h2>{{resume.firstName ~ ' ' ~ resume.lastName}}</h2>
      </div>

    </div>

    <div class="cv-details">

      <h3>Liste des diplomes</h3>
      <div class="diplomas">

        {% for diploma in resume.diplomas %}
          <div class="card diploma-details" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="color:black;">{{diploma.name ~ ' ' ~ diploma.speciality}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{diploma.location}}</h6>
              {% if diploma.inProgress == true %}
                <p class="card-text">Obtention :
                  <i class="fa-regular fa-hourglass" style="color:orange;"></i>
                </p>
              {% else %}
                <p class="card-text">Obtention :
                  {% if diploma.obtained == true %}
                    <i class="fa-solid fa-check" style="color:green;"></i>
                  {% else %}
                    <i class="fa-solid fa-xmark" style="color:red;"></i>
                  {% endif %}
                </p>
                <p class="card-text">Date de validation :
                  {{diploma.date|date("d/m/Y")}}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}

      </div>
      <h3>Liste des experiences</h3>
      <div class="experiences">

        {% for experience in resume.experience %}
          <div class="card experiences-details" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="color:black;">{{experience.company}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{experience.job}}</h6>
              <p class="card-text">Date de debut :
                {{experience.startDate|date("d/m/Y")}}
              </p>
              {% if experience.inProgress == true %}
                <p class="card-text">Date de fin : En activité</p>
              {% else %}
                <p class="card-text">Date de fin :
                  {{experience.endDate|date("d/m/Y")}}</p>
                <p class="card-text">Durée :
                  {{ ((date(experience.endDate).diff(date(experience.startDate))).days / 30)|round}}
                  mois</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </div>

  {% block javascripts %}{% endblock %}

{% endblock %}
