{% extends 'base.html.twig' %}

{% block title %}
  RG -
  {{ title_page }}
{% endblock %}

{% block body %}

  <style>
    .container {
      color: white;
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  </style>

  <div class="container">
    <div>
      <h2>Connexion
      </h2>
    </div>
    <div class="login-buttons">
      <a href="{{ path('app_login_google')}}" class="btn btn-primary">
        <i class="fa-brands fa-google"></i>
        Se connecter avec Google</a>
    </div>
  </div>

{% endblock %}
