@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.title,
.name {
  color: ghostwhite;
}
/* .cv, */
.diploma-details,
.experiences-details {
  /* overflow: hidden; */
  /* page-break-after: always; */
  /* page-break-inside: avoid; */
}

.cv-info {
  background-image: url("/assets/img/background/wallhaven-j3wqwm.jpg");
  /* background-image: url("/assets/img/background/08e24d51bffb267d0bcdac5f3fc657a1.jpg"); */
  /* background-image: url("/assets/img/background/wallhaven-2kkvgg.jpg"); */
  /* background-image: url("/assets/img/background/29ffa449649431967f0fdeb6f59b5f45.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  text-align: center;
}

.diplomas,
.experiences {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .diploma-details,
.experiences-details {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  margin: 5px;
  padding: 5px;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
} */

td {
  /* width: 100%; */
}

td .diploma-details,
td .experiences-details {
  page-break-inside: avoid;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  margin: 5px;
  padding: 5px;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  /* max-width: 50%; */
  /* background-color: red; */
}

/* ul{
  display: flex;
  flex-direction: row;
} */

li {
  list-style-type: none;
}
