@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  text-size-adjust: 20%;
}

.title,
.name {
  color: black;
  /* color: ghostwhite; */
  font-family: "Lato", sans-serif;
}

.cv-info {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 15%,
    /* rgba(236, 236, 236, 1) 30%, */ #9ca6d9 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 15%,
    /* rgba(236, 236, 236, 1) 30%, */ #9ca6d9 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 15%,
    /* rgba(236, 236, 236, 1) 30%, */ #9ca6d9 100%
  );
  /* background-image: url("/assets/img/background/wallhaven-j3wqwm.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  /* padding: 15px; */
  /* text-align: center; */

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-bottom: 15px;
}

.cv-info .user-infos {
  /* background-color: blue; */
  padding: 15px;
  width: 78%;
}

.cv-info .user-avatar {
  /* background-color: red; */
  /* align-self: flex-end; */
  margin: 10px;
}

.cv-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* background-color: aliceblue; */
}

.cv-details .diplomas,
.cv-details .experiences {
  /* display: -webkit-box;
  display: -webkit-flex; */
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1px;
  font-family: "Lato", sans-serif;
  /* -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
}

.cv-details .diplomas h3,
.cv-details .experiences h3 {
  font-size: 18px;
  color: black;
  text-align: center;
  background-color: #9ca6d9;
  /* margin: 10px 0 10px 0; */
  padding: 10px 0 10px 0;
}

.cv-details .diplomas .diploma-detail,
.cv-details .experiences .experience-detail {
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  color: grey;
  page-break-inside: avoid;
}

.cv-details .diplomas .diploma-detail h4,
.cv-details .experiences .experience-detail h4 {
  font-size: 18px;
  color: black;
}

li {
  list-style-type: none;
}
