<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/export/newDefault.css')) }}">

    {# Bootstrap start #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {# Bootstrap end #}

    {# Start FontAwesome #}
    <script src="https://kit.fontawesome.com/dad27e2f6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# End FontAwesome #}

  </head>
  <body>

    <style type="text/css"></style>

    <div class="cv" id="entire-cv">

      <div class="cv-info">

        {# <div class="title">
          <h1>{{resume.resumeTitle}}</h1>
        </div>

        <div class="name">
          <h2>{{resume.firstName ~ ' ' ~ resume.lastName}}</h2>
        </div>
        <div class="name">
          <img src="{{user.avatar}}" style="width:200px; border-radius:50%;" alt="">
        </div> #}

        <div class="user-infos">
          <div class="name">
            <h1>{{resume.firstName ~ ' ' ~ resume.lastName}}</h1>
          </div>

          <div class="title">
            <h2>{{resume.resumeTitle}}</h2>
          </div>
        </div>
        <div class="user-avatar">
          <img src="{{user.avatar}}" style="width:200px; border-radius:50%;" alt="">
        </div>
      </div>

      <div class="cv-details">
        <div class="diplomas">
          <div class="diploma-title">
            <h3>Diplomes</h3>
          </div>
          {% for diploma in resume.diplomas %}
            <div class="diploma-detail">
              <li>
                <h4>{{diploma.name ~ ' - ' ~ diploma.speciality}}</h4>
              </li>
              <li>
                {{diploma.location}}
                | Obtention :
                {% if diploma.inProgress == true %}
                  <i class="fa-regular fa-hourglass" style="color:orange;"></i>
                {% else %}
                  {% if diploma.obtained == true %}
                    <i class="fa-solid fa-check" style="color:green;"></i>
                  {% else %}
                    <i class="fa-solid fa-xmark" style="color:red;"></i>
                  {% endif %}
                {% endif %}
              </li>
              <li>
                {% if diploma.obtained == true %}
                  Le
                  {{diploma.date|date("d/m/Y")}}
                {% endif %}
              </li>
            </div>
          {% endfor %}
        </div>
        <div class="experiences">
          <div class="experience-title">
            <h3>Experiences</h3>
          </div>
          {% for experience in resume.experience %}
            <div class="experience-detail">
              <li>
                <h4>{{experience.company ~ ' - ' ~ experience.job}}</h4>
              </li>
              {% if experience.inProgress == false %}
                <li>Du
                  {{experience.startDate|date("d/m/Y")}}
                  au
                  {{experience.endDate|date("d/m/Y")}}</li>
                <li>Durée :
                  {{ ((date(experience.startDate).diff(date(experience.endDate))).days / 30)|round}}
                  mois</li>
              {% else %}
                <li>Du
                  {{experience.startDate|date("d/m/Y")}}
                  à aujourd'hui</li>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </body>

  <script></script>
</html>
