<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    {# Bootstrap start #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {# Bootstrap end #}

    {# Start FontAwesome #}
    {# <script src="https://kit.fontawesome.com/dad27e2f6d.js" crossorigin="anonymous"></script> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# End FontAwesome #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <style>
    body {
      background-image: url("/assets/img/background/wallhaven-2kkvgg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-attachment: scroll;
      height: 100vh;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ path('app_generator_cv_new_see_all')}}">RG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if active is defined and active == 'seeAllResume' %}
          active
        {% endif %}">
            <a class="nav-link" href="{{ path('app_generator_cv_new_see_all')}}">Mes CV
              <span class="sr-only">(current)</span></a>
          </li>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item {% if active is defined and active == 'new' %}
          active
        {% endif %}">
              <a class="nav-link" href="{{ path('app_generator_cv_new')}}">Nouveau CV
                <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}

        </ul>

        <form class="form-inline my-2 my-lg-0">

          {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
                Mon compte
                {# {{app.user.email}} #}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('app_user_me')}}">Mon profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout')}}">Se deconnecter</a>
              </div>
            </div>

            {# <a href="{{ path('app_logout')}}" class="btn btn-outline-success">Se deconnecter</a> #}
            {# # This user entered their credentials THIS session #}
            {# {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            # User logged in via a cookie (ie: Auth again before doing sensitive things) #}
            {# {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %} #}
          {% else  %}
            <a href="{{ path('app_login')}}" class="btn btn-outline-success">Se connecter</a>
            {# # This is a `guest` or anonymous user #}
          {% endif %}

          {# <button class="btn btn-outline-success my-2 my-sm-0">Se connecter</button> #}
        </form>
      </div>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
