{% extends 'base.html.twig' %}

{% block title %}RG -
  {{page_title}}
{% endblock %}

{% block body %}
  <style>

    .user {
      margin: 25px;
      padding: 25px;
      background-color: #e9ecef;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
    }

    .avatar {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
    .avatar img {
      max-width: 250px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .user-names h1 {
      display: flex;
      flex-direction: row;
    }

    .user-desc {
      max-width: 100%;
      width: 100%;
    }
  </style>

  <div class="info-session">

    {% for message in app.flashes('updated') %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endfor %}

  </div>

  {{ form_start(form) }}
  <div class="user">
    <div class="avatar">
      {{form_widget(form.avatar)}}
    </div>
    <div class="user-infos">
      <div class="user-names">
        <h1>
          {{form_widget(form.firstName)}}
          {{form_widget(form.lastName)}}
        </h1>
      </div>
      <div class="user-desc">
        {{form_widget(form.description)}}
      </div>
    </div>
    <div class="links">
      <a href="#">
        <i class="fa-brands fa-gitlab"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    {{form_widget(form.submit)}}
  </div>
  {{ form_end(form) }}
{% endblock %}
