{% extends 'base.html.twig' %}

{% block title %}RG -
  {{page_title}}
{% endblock %}

{% block body %}
  <style>

    .user {
      margin: 25px;
      padding: 25px;
      background-color: #e9ecef;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
    }

    .avatar {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: 15px;
    }
    .avatar img {
      max-width: 250px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .user-desc {
      max-width: 75%;
    }
  </style>

  <div class="info-session" id="my-alert-box">

    {% for message in app.flashes('updated') %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endfor %}

  </div>

  <div class="user">
    <div class="avatar">
      <img src="{% if user.avatar is defined and user.avatar != null %} {{user.avatar}} {% else %} https://via.placeholder.com/500 {% endif %}" alt="">
    </div>
    <a href="{{ path('app_user_edit')}}" class="btn btn-outline-info">Editer mon profil</a>
    <div class="user-infos">
      <div class="user-names">
        <h1>
          {{user.firstName}}
          {{user.lastName}}
        </h1>
      </div>
      <div class="user-email">
        <a href="mailto:{{user.email}}">{{user.email}}</a>
      </div>
      <div class="user-desc">
        {% if user.description is defined and user.description != null %}
          {{user.description}}
        {% else %}
          Aucune informations
        {% endif %}
      </div>
    </div>
    <div class="links">
      <a href="#">
        <i class="fa-brands fa-gitlab"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>

  {% block javascripts %}

    <script>
      var coucou = setTimeout(hiddeAlert, 5000)

      function hiddeAlert() {
        document.getElementById("my-alert-box").style.display = "none"
      }
    </script>
  {% endblock %}
{% endblock %}
